@model EnigmaShop.Areas.Admin.Models.Category
@{
    ViewData["Title"] = "Details";
}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Product Details</h3>
                    </div>
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Order)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Order)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ParentCategoryId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ParentCategoryId)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.RootCategoryId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RootCategoryId)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
