@model IEnumerable<EnigmaShop.Areas.Admin.Models.Category>
@{
    ViewData["Title"] = "Index";
}


<section>
    <div class="container-fluid">
        <p>
            <a asp-action="Create">Create new primary category</a>
        </p>
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <ul class="category-ul">
                        <li class="d-flex flex-row card p-4 my-2">
                            <div>@Html.DisplayFor(modelItem => item.Name)</div>
                            <div class="ml-5"><a asp-action="CreateSubCategory" asp-controller="Category" asp-route-parentId="@item.Id">Create subcategory</a>
                            </div>
                        </li>
                        <li>
                            @foreach (var secondaryCat in item.Categories)
                            {
                                <ul class="category-ul">
                                    <li class="d-flex flex-row card p-4 my-2">
                                        <div>@Html.DisplayFor(modelItem => secondaryCat.Name)</div>
                                        <div class="ml-5"><a asp-action="CreateSubCategory" asp-controller="Category" asp-route-parentId="@secondaryCat.Id" asp-route-rootId="@item.Id">Create subcategory</a></div>
                                    </li>
                                    <li>
                                        @foreach (var tertiaryCat in secondaryCat.Categories)
                                        {
                                            <ul class="category-ul">
                                                <li class="d-flex flex-row card p-4 my-2">
                                                    @Html.DisplayFor(modelItem => tertiaryCat.Name)
                                                </li>
                                            </ul>
                                        }
                                    </li>
                                </ul>
                            }

                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</section>

