@model IEnumerable<EnigmaShop.Areas.Admin.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">Products</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category Group</th>
                                <th>Category</th>
                                <th>SKU Actions</th>
                                <th>Product Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductCategory.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Type)
                                    </td>
                                    <td>
                                        <a asp-action="Create" asp-controller="SKU" asp-route-id="@item.Id">Create SKU</a> |
                                        <a asp-action="Index" asp-controller="SKU" asp-route-id="@item.Id">View SKU's</a>
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info" aria-hidden="true"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>