@model IEnumerable<EnigmaShop.Areas.Admin.Models.SKU>
@{
    ViewData["Title"] = "Index";
}
<section>
    <div class="container-fluid">
        <div class="row">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">SKUs</div>
        
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiscountedPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsAvailable)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsDiscounted)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Stock)
                            </th>
                            <th>Images</th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiscountedPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsAvailable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDiscounted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @foreach (var option in item.SKUOptions)
                                    {
                                        <ul class="list-unstyled">
                                            @option.OptionGroup.Name
                                        </ul>
                                    }
                                </td>
                                <td>
                                    @foreach (var picture in item.SKUPictures)
                                    {
                                        <img class="sku-list-picture" src="@picture.ImageUrl"/>
                                    }
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>