@model EnigmaShop.Areas.Admin.ViewModels.SKUFormViewModel
@{
    ViewData["Title"] = $"{Model.Action} SKU";
}
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">SKUs</div>
                    <div class="card-body">
                        <form asp-action="@Model.Action" enctype="multipart/form-data">
                            <input type="hidden" asp-for="SKUId" />
                            <input type="hidden" asp-for="ProductId" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <br />
                            <div class="form-group row">
                                <label asp-for="Product" class="form-control-label col-md-3"></label>
                                <div class="col-md-9">
                                    <input value="@Model.Product.Name" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label asp-for="OptionId" class="form-control-label col-md-3"></label>
                                <div class="col-md-9">
                                    <select asp-for="OptionId" class="form-control" asp-items="@(new SelectList(Model.OptionList,"Id","Name",Model.OptionId))"></select>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label asp-for="SKUOptions" class="form-control-label col-md-3"></label>
                                <div class="col-md-9">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Size
                                                </th>
                                                <th>
                                                    SKU Available
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    SKU Discounted
                                                </th>
                                                <th>
                                                    Discounted Price
                                                </th>
                                                <th>
                                                    Stock
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.SKUOptions.Count; i++)
                                            {
                                                <tr>
                                                    <input asp-for="@Model.SKUOptions[i].Id" type="hidden"/>
                                                    <input asp-for="@Model.SKUOptions[i].SKUId" type="hidden" />
                                                    <td>
                                                        <input asp-for="@Model.SKUOptions[i].SizeId" type="hidden"/>
                                                        <input type="hidden" asp-for="@Model.SKUOptions[i].SizeId"/>

                                                        <p>@Model.SKUOptions[i].Size.Name</p>
                                                    </td>
                                                    <td>
                                                        <div class="i-checks">
                                                            <input asp-for="@Model.SKUOptions[i].IsAvailable" class="checkbox-template"/>
                                                            <span asp-validation-for="@Model.SKUOptions[i].IsAvailable" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.SKUOptions[i].Price" class="form-control"/>
                                                        <span asp-validation-for="@Model.SKUOptions[i].Price" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <div class="i-checks">
                                                            <input asp-for="@Model.SKUOptions[i].IsDiscounted" class="checkbox-template"/>
                                                            <span asp-validation-for="@Model.SKUOptions[i].IsDiscounted" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.SKUOptions[i].DiscountedPrice" class="form-control"/>
                                                        <span asp-validation-for="@Model.SKUOptions[i].DiscountedPrice" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.SKUOptions[i].Stock" class="form-control"/>
                                                        <span asp-validation-for="@Model.SKUOptions[i].Stock" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            @*<div class="form-group row">
                                    <label class="form-control-label col-md-3">Availability and Discount</label>
                                    <div class="col-md-9">
                                        <div class="i-checks">
                                            <input asp-for="IsDiscounted" class="checkbox-template" />
                                            <label asp-for="IsDiscounted"></label>
                                        </div>
                                        <div class="i-checks">
                                            <input asp-for="IsAvailable" class="checkbox-template" />
                                            <label asp-for="IsAvailable"></label>
                                        </div>
                                    </div>
                                </div>*@


                            @if (Model.SKUId != 0) //We are editing an existing SKU
                            {
                                <div class="line"></div>
                                <div class="form-group row">
                                    <label class="form-control-label col-sm-3">Current SKU Images</label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            @foreach (var skuPicture in Model.SKUPictures)
                                            {
                                                <div id="@skuPicture.Id" class="col-sm-2 delete-picture-box">
                                                    <img src="@skuPicture.ImageUrl" class="img-fluid img-thumbnail" title="@skuPicture.ImageUrl" />
                                                    <a class="js-delete-picture" data-sku-picture-id="@skuPicture.Id"><i class="fa fa-times delete-picture-icon" aria-hidden="true"></i></a>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="line"></div>
                            <div class="form-group row">
                                <label asp-for="Files" class="form-control-label col-sm-3"></label>
                                <div class="col-sm-9">
                                    <label class="custom-file">

                                        <input type="file" asp-for="Files" class="custom-file-input" multiple />
                                        <span class="custom-file-control"></span>
                                    </label>

                                    <div id="preview">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <input type="submit" value="@Model.Action" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script>



        // ** Preview Images ** //

        function previewImages() {

            var preview = document.querySelector('#preview');
            preview.innerHTML = "";

            if (this.files) {
                [].forEach.call(this.files, readAndPreview);
            }

            function readAndPreview(file) {

                // Make sure `file.name` matches our extensions criteria
                if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    return alert(file.name + " is not an image");
                } // else...

                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    var image = new Image();
                    image.className = "sku-add-picture image-hover-enlarge";
                    image.title = file.name;
                    image.src = this.result;
                    preview.appendChild(image);
                }, false);

                reader.readAsDataURL(file);

            }

        }
        document.querySelector('#Files').addEventListener("change", previewImages, false);
        //////////////////////////////////////////////////////////////////////////////////////////////////////


        // ** Delete Images ** //
        $(".js-delete-picture").click(function () {
            var skuPictureId = $(this).attr('data-sku-picture-id');
            var url = "/admin/api/SKUPictures/" + skuPictureId;
            $.ajax({
                url: url,
                type: "DELETE",
                success: function () {
                    $("#" + skuPictureId + ".delete-picture-box").fadeOut("fast",
                        function () {
                            this.remove();
                        });
                },
                error: function () {
                    bootbox.alert("Error occured while deleting picture");
                }
            });
        });

            ///////////////////////////////////////////////////////////////////////////////////////////////////////

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
