@model EnigmaShop.ViewModels.ShopViewModel


<div class="jumbotron">
    <div class="container">
        <h1>
            Shop
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @foreach (var secondaryCat in Model.Categories.Categories)
            {
                <ul class="category-ul">
                    <li>
                        <a href="">@secondaryCat.Name</a>
                    </li>
                    <li>
                        @foreach (var tertiaryCat in secondaryCat.Categories)
                        {
                            <ul class="category-ul">
                                <li>
                                    <a>@tertiaryCat.Name</a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            }
        </div>
        <div class="col-lg-8">
            <div class="row">
                @foreach (var product in Model.Products)
            {
                    <div class="col-lg-4 m-2">
                        <div class="d-flex flex-column">
                            @if (product.MainSKUPicture != null)
                            {
                                <img src="@product.MainSKUPicture.ImageUrl" data-alt-img="@(product.AltSKUPicture!=null ? product.AltSKUPicture.ImageUrl : "")" class="product" />
                            }
                            else
                            {
                                <p>No picture</p>
                            }

                        </div>

                        <div class="text-md-center">@product.Name</div>
                        <div class="text-md-center">@product.Description</div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>