@model EnigmaShop.ViewModels.ShopViewModel


<div class="jumbotron">
    <div class="container">
        <h1>
            Shop
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="categories">
                @foreach (var primaryCat in Model.Categories)
                {
                    <h4 class="d-block">@primaryCat.Name</h4>

                    foreach (var secondaryCat in primaryCat.Categories)
                    {
                        <ul class="list-style-none">
                            <li>
                                <a asp-route-primaryCat="@primaryCat.Name" asp-route-secondaryCat="@secondaryCat.Name" asp-route-option="@Model.OptionQueryString">@secondaryCat.Name</a>
                            </li>
                            <li>
                                @foreach (var tertiaryCat in secondaryCat.Categories)
                                {
                                    <ul class="list-style-none">
                                        <li>
                                            <a asp-route-primaryCat="@primaryCat.Name" asp-route-secondaryCat="@tertiaryCat.Name" asp-route-option="@Model.OptionQueryString">@tertiaryCat.Name</a>
                                        </li>
                                    </ul>
                                }
                            </li>
                        </ul>
                    }
                }
            </div>
            <div class="options mt-5">
                @foreach (var optionGroup in Model.OptionGroups)
                {
                    <h4 class="d-block">@optionGroup.Name</h4>
                    <ul class="list-style-none">
                        @foreach (var option in optionGroup.Options)
                        {
                            <li>
                                @option.Name
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="sizes mt-5">
                @foreach (var sizeGroup in Model.SizeGroups)
                {
                    <h4 class="d-block">@sizeGroup.Name</h4>
                    <ul class="list-style-none">
                        @foreach (var size in sizeGroup.Sizes)
                        {
                            <li>
                                @size.Name
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                @foreach (var product in Model.Products)
            {
                    <div class="col-lg-4 m-2">
                        <div class="d-flex flex-column">
                            @if (product.MainSKUPicture != null)
                            {
                                <img src="@product.MainSKUPicture.ImageUrl" data-alt-img="@(product.AltSKUPicture!=null ? product.AltSKUPicture.ImageUrl : "")" class="product" />
                            }
                            else
                            {
                                <p>No picture</p>
                            }

                        </div>

                        <div class="text-md-center">@product.Name</div>
                        <div class="text-md-center">@product.Description</div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>